*{  
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: black;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(45deg, #8a0268 30%, #ffffff 60%);
    background-size: 200% 200%;
    background-attachment:fixed;
    animation: move 5s ease-in-out infinite alternate;
}

    @keyframes move{
        from{
            background-position: 0% 0%;
        }
        to{
            background-position: 100% 100%;
        }
    }

body{
    width: 100%;
    height: 200vh;
}

h1{ font-size: 3em;}
h2{ font-size: 2.5em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
    border: 2px solid #0000004d;
    box-shadow: 2px 2px 10px #00000080;
    color: white;
    background-color: blueviolet;
}
    button:hover{
        background-color: #3c165f;
        font-size: 110%;
    }

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    width: 100%;
    margin-top: 5%;
/*     background-color: #8a0268; */
}

    header .container{
        /* margin-top: 5%; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
    }
        header img{
            height: 80px;
            width: 100px;
            cursor: pointer;
        }
            header nav{
                text-decoration: none;
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
            }
            header nav a{
                color: #000000; /* Color de letra del Navbar */
                padding: 5px 10px;
                text-decoration: none;
                font-weight: bold;
                cursor: pointer;
            }
                header nav a:hover{
                    font-size: 110%;
                    box-shadow:#dddddd;
                    color: #dddddd;
                    transition: 0.3s ease-in-out;
                }

#presentacion{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
}
    #presentacion h2{
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
    }
    #presentacion .container .texto{
        margin: auto 10%;
    }


.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: auto;
}
    .inicio h2{
        font-weight: bold;
        text-align: center;
        margin: 10px auto 60px auto;
    }
        .inicio .imgProducto img {
            width: 80%;
            height: 80%;
            margin: auto;
        }
            .inicio .botones{
                margin: 40px auto 80px auto;
            }
            .inicio .botones button{
                margin: 0px 20px;
            }

section #carrouselLocal{
margin-bottom: 200px;
}

#sectionCategorias{
    text-align: center;
}

#sectionCategorias{
    display: flex;
    justify-content: space-evenly;
}
    #sectionCategorias h2{
        font-weight: bold;
        margin-bottom: 50px;
    }
        #sectionCategorias .container .carta{
            margin: 40px;
            background-color: #8a026852;
            border: 1px solid black;
            border-radius: 20px;
        }
        #sectionCategorias .container .carta h3, p, button{
            margin: 20px;
        }

footer{
    font-weight: bold;
    text-align: center;
}

/* Productos */
.hola{
}